<h1 align="center">Rock Paper Scissors</h1>
<div align="center">
<p> <font size"12">Type your move at the end of the url bar by using 1 of (/play/rock, /play/scissors or /play/paper) and prepare to be dazzled by 21st century gaming technology"</p>
<img src="http://www.newsmaritime.com/wp-content/uploads/2016/07/Technology.jpg"></div>