<h1 align="center">Result</h1>
<div align="center">
<p>DRUMROLLLLLL.................</p>
<p><%= @result %>!!!!!</p>
<p>WOW, are you amazed or what!???</p>
<p>Here's a nice kitty</p>
<img src="http://picpetz.com/wp-content/uploads/2011/07/0ktPO.jpg" alt="cat">
</div>
